Source: switchboard-plug-backup
Section: x11
Priority: optional
Maintainer: kay van der Zander <kay20@hotmail.com>
Build-Depends: meson,
               debhelper (>= 9),
               libgranite-dev,
               libswitchboard-2.0-dev,
               valac (>= 0.22)
Standards-Version: 3.9.2
Homepage: https://github.com/kvdz/switchboard-backup-plug

Package: switchboard-plug-backup
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: switchboard
Description: backup plug for Switchboard
 This plug help backing up personal data.

Package: switchboard-plug-backup-dbg
Architecture: any
Section: debug
Priority: extra
Depends: switchboard-plug-backup (= ${binary:Version}), ${misc:Depends}
Enhances: switchboard-plug-backup
Description: backup plug for Switchboard (debugging symbols)
 This plug helps backing up personal data.
 .
 This package contains debugging symbols for switchboard-plug-backup.